<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBoWg9_EeFN7lXG8wvdvYLAjOZUTTgIGAA</string>
	<key>GCM_SENDER_ID</key>
	<string>174501625208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.WaterClock</string>
	<key>PROJECT_ID</key>
	<string>waterclock-728da</string>
	<key>STORAGE_BUCKET</key>
	<string>waterclock-728da.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174501625208:ios:c5a76aeada32fc5282dc8d</string>
</dict>
</plist>